#quote-box {
  margin: 0.5rem;
  background-color: azure;
  color: black;
  border-radius: 15px;
  padding: 1rem;
}

.quote-text {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#text {
  position: relative;
  font-weight: bolder;
  font-style: italic;
  margin: 1rem;
}

#author {
  font-size: medium;
  font-weight: 400;
  text-align: end;
}

.quote-indicator {
  font-weight: bold;
  font-size: 60px;
}

.quote-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quote-btn a {
  font-weight: bold;
}

.footer {
  font-size: small;
  font-weight: normal;
  margin: 1rem 0;
  width: 100%;
  text-align: center;
}
